
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

*{
    font-family: 'Patua One', cursive;
    font-size: 400;
}

.column{
    margin: 30px auto;
    background-color:lightblue;
    border-radius: 5px;
}

li{
    display: flex;
    justify-content: space-between;
}


